<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6"  style="margin:10px;padding:10px;border-style: solid;border-width: 2px;border-color: gray;">
            <label>负资金费率排行</label>
            <div id="minFundingRateDiv">
                <ol></ol>
            </div>
        </div>
        <div class="col-md-6" style="margin:10px;padding:10px;border-style: solid;border-width: 2px;border-color: gray;">
            <label>正资金费率排行</label>
            <div id="maxFundingRateDiv">
                <ol></ol>
            </div>
        </div>
    </div>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script crossorigin="anonymous"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script crossorigin="anonymous"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function(){
        $.ajax({
            url: "/market/fundingRate/max",
            data: {
            },
            success: function( result ) {
                if(result.status === 0){
                    const data = result.data;
                    data.forEach(function(item) {
                        console.log(item);
                        $("#maxFundingRateDiv ol").append("<li>"+item.pair+" "+(item.fundingRate * 100).toFixed(2)+"%"+"</li>");
                    });
                }
            }
        });

        $.ajax({
            url: "/market/fundingRate/min",
            data: {
            },
            success: function( result ) {
                if(result.status === 0){
                    const data = result.data;
                    data.forEach(function(item) {
                        console.log(item);
                        $("#minFundingRateDiv ol").append("<li>"+item.pair+" "+(item.fundingRate * 100).toFixed(2)+"%"+"</li>");
                    });
                }
            }
        });
    })
</script>
</body>
</html>