<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">策略</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">链接</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-5"  style="margin:10px;padding:10px;border-style: solid;border-width: 2px;border-color: gray;">
            <label>负资金费率排行</label>
            <div id="minFundingRateDiv">
                <ol></ol>
            </div>
        </div>
        <div class="col-md-5" style="margin:10px;padding:10px;border-style: solid;border-width: 2px;border-color: gray;">
            <label>正资金费率排行</label>
            <div id="maxFundingRateDiv">
                <ol></ol>
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-ep+dxp/oz2RKF89ALMPGc7Z89QFa32C8Uv1A3TcEK8sMzXVysblLA3+eJWTzPJzT" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(function(){
        $.ajax({
            url: "/market/fundingRate/max",
            data: {
            },
            success: function( result ) {
                if(result.status === 0){
                    const data = result.data;
                    data.forEach(function(item) {
                        console.log(item);
                        $("#maxFundingRateDiv ol").append("<li>"+item.base+" "+(item.fundingRate * 100).toFixed(2)+"%"+"</li>");
                    });
                }
            }
        });

        $.ajax({
            url: "/market/fundingRate/min",
            data: {
            },
            success: function( result ) {
                if(result.status === 0){
                    const data = result.data;
                    data.forEach(function(item) {
                        console.log(item);
                        $("#minFundingRateDiv ol").append("<li>"+item.pair+" "+(item.fundingRate * 100).toFixed(2)+"%"+"</li>");
                    });
                }
            }
        });
    })
</script>
</body>
</html>